body{
    background-color: white;
    background-color: black;
    position: relative;
    animation-name: example;
    animation-duration: 50s;
    animation-delay: -2s;
    text-align: center;
}

h1{
   
    font-size: 30px;
    color:white;
    margin-top: 0px;
    padding-top: 40px;
    font-size: 400%;
    
}

h2{
    
    font-size: 30px;
    color: white;    
}

.input-container{
  
    padding: 20px;
    color: white;
    font-size: 20px;
}

.btn{
    height: 90px;
    width: 90px;
    margin:40px;
    background-color: turquoise;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-iteration-count: infinite;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color:turquoise;
    border-radius: 100%;
  }
  50% {
    background-color: violet;
  }
  100% {
    transform: scale(1.5);
    background-color: peachpuff;
  }
}
