* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 25px;
  width: 100%;
}

h1 {
  text-transform: uppercase;

  background-color: black;
  color:silver;
  width: 1350px;
  height: 100px;
  text-align: center;
  padding-top: 30px;
  font-size: 45px;
  font-family: cursive;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);

  height: 300px;
  margin: 10px 0 25px;
  width: 300px;
  align-items: center;

}

.cell {
  align-items: center;

  background: #4371f102;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 80px;
}

.cell::after {
  background: white;
  border-radius: 50%;
  border: 3px solid rgb(240, 235, 235);
  content: '';
  cursor: pointer;
  height: 75px;
  width: 75px;
}

.cell:not(.row-top).red::after {
  background: red;
}
.cell:not(.row-top).yellow::after {
  background: yellow;
}

.cell.row-top {
  background: white;
}

.cell.row-top::after {
  border: none;
}

.cell.row-top.red::after {
  background: red;
  border: none;
}

.cell.row-top.yellow::after {
  background: yellow;
  border: none;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: left;
  width: 700px;
}

.reset {
  background-color: #03ccc2;
  border-radius: 100px;
  border: 100px;
  color: rgb(31, 29, 29);
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 30px 30px;
  text-transform: uppercase;
  align-items: flex-start;
  

}
.currentPlayer{
  text-align: center;
  padding: 20px;
}

.reset:hover {
  background-color: #0eeaf1;
}
.status {
  display: block;
  font-size: 20px;
}
