* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}



body {
  text-align: center;
  background-color:black;
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-size: 30px;
  color:white;
  margin-top: 0px;
  font-size: 400%;
}
#headline{
  color:white;
  padding-top: 40px;
  font-size: 35px;
}

#greetingOne{
  color:white;
  padding-top: 20px;
  font-size: 25px;
}

#greetingTwo{
  color:white;
  padding-top: 20px;
  font-size: 25px;
}
.status {
  display: block;
  font-size: 40px;
  color: white;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);

  height: 300px;
  margin: 10px 0 25px;
  width: 300px;
  text-align: center;
  padding-left: 30%;

}

.cell {
  align-items: center;

  background:black;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 80px;
}

.cell::after {
  background: black;
  border-radius: 50%;
  border: 3px solid rgb(240, 235, 235);
  content: '';
  cursor: pointer;
  height: 75px;
  width: 75px;
}

.cell:not(.row-top).red::after {
  background: red;
}
.cell:not(.row-top).yellow::after {
  background: yellow;
}

.cell.row-top {
  background: black;
}

.cell.row-top::after {
  border: none;
}

.cell.row-top.red::after {
  background: red;
  border: none;
}

.cell.row-top.yellow::after {
  background: yellow;
  border: none;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: left;
  width: 700px;
  padding-top: 300px;
  padding-left:650px;
  
}

.reset {
  background-color: rgb(255,215,0);
  border-radius: 100px;
  border: 100px;
  color: rgb(31, 29, 29);
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 30px 30px;
  text-transform: uppercase;
}

.currentPlayer{
  text-align: center;
  padding: 20px;
}

.reset:hover {
  background-color: rgb(255,0,0);
}
.extra{
  background:
    url(https://miro.medium.com/max/700/1*g9ee7RUD831R9n6Km5Jizg.gif) bottom center no-repeat;
}